<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
    <title>Sobre</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <section id="sobre" class="container2">
        <h2>Cadastro de Clientes</h2>
        <h3>Sistema de para cadastrar os clientes</h3>
        <p>Autor: Patrick Guimaraes Correia</p>
        <p>Sob a licença MIT</p>
        <p>Versão 1.0</p>
        <button type="button" class="button" onclick="fechar()">OK</button>
    </section>


    <script src="rendererSobre.js"></script>
</body>

</html>